

.row-title-hr-company {
    background-color: rgb(0, 132, 180);
	border-style: none;
    border-width: 0;
    margin: 33px auto 50px;
    width: 100px;
    height: 5px;
}
.activ{
	fill:#b50cf5;
	fill-opacity: 0.5;
	stroke-width:7;
	stroke-opacity: 0.5;
	stroke: #b50cf5;
	rx: 5;
	ry: 5;
	}
	
	
rect{
	pointer-events: all;
}
	
rect:hover{
	-o-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    fill-opacity: 0.5;
	fill:#33cc33;
	stroke-width:7;
	stroke-opacity: 0.5;
	stroke: #33cc33;
	rx: 5;
	ry: 5;
}


.hiden{
	fill:gray;
	fill-opacity: 0.5;
}

.telecom{
    fill:greenyellow;
}

.info{
    fill:red;
}

.elec{
    fill:blue;
}

.mmk{
    fill:orange;
}

svg{
	margin: 5px;
	border: 0.3mm solid black;
}

#map a:hover{
    opacity: 0.4;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    -o-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
}


.maps{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.container-fluid td{
	min-width: 150px;
}

.formulaire{
	padding: 100px;
}