.map{
    width:100%;
}

.activ{
	fill:purple;
}

.hiden{
	fill:gray;
}

.telecom{
    fill:greenyellow;
}

.info{
    fill:red;
}

.elec{
    fill:blue;
}

.mmk{
    fill:orange;
}

a:hover{
    opacity: 0.4;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    -o-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;

}